body {
	background-color: #f8f8f8;
	margin: 0;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

.library {
	background-color: #fff;
	height: 20px;
}
.book {
	display: flex;
	flex-direction: column;
}
.book img {
	padding: 20px;
	width: 200px;
	margin: auto;
}
.book h3 {
	
}